@*@model IEnumerable<CoreCRUDwithORACLE.Models.ActaResponse>*@
@model CoreCRUDwithORACLE.Comunes.PaginatedList<CoreCRUDwithORACLE.Models.ActaResponse>


@{
    ViewData["Title"] = "Index";
}

<h1>Actualización de Asignación de Actas</h1>




<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <tr>

                            <th> <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio </a></th>
                            <th> <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a></th>
                        </tr>
                    </table>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <form asp-action="Index" method="get">
                                    <div class="form-actions no-color">
                                        <p>
                                            Ingrese Texto: <input type="text" name="textoBuscar" value="@ViewData["CurrentFilter"]" />
                                            <input type="submit" value="Buscar" class="btn btn-default btn-light" /> |
                                            <a asp-action="Index">Listado Completo</a>
                                        </p>
                                    </div>
                                </form>
                                <div asp-validation-summary="All" class="text-danger"></div>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                @if (Model != null)
                                {
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                @*<th>
                            @Html.DisplayNameFor(model => model.COD_USUARIO)
                        </th>*@
                                                @*<th>
                            @Html.DisplayNameFor(model => model.USUARIO)
                        </th>*@
                                                <th>
                                                    USUARIO
                                                </th>
                                                @*<th>
                            @Html.DisplayNameFor(model => model.Nom_Provincia)
                        </th>*@
                                                <th>
                                                    PROVINCIA
                                                </th>
                                                @*<th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Nom_Provincia)</a>
                        </th>*@
                                                @*<th>
                            @Html.DisplayNameFor(model => model.Nom_Canton)
                        </th>*@
                                                <th>
                                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CanSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">CANTON</a>
                                                </th>
                                                @*<th>
                            @Html.DisplayNameFor(model => model.Nom_Parroquia)
                        </th>*@
                                                <th>
                                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ParrSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PARROQUIA</a>
                                                </th>
                                                @*<th>
                            @Html.DisplayNameFor(model => model.Nom_Zona)
                        </th>*@
                                                <th>
                                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ZONA</a>
                                                </th>
                                                <th>
                                                    JUNTA
                                                </th>
                                                <th>
                                                    SEXO
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @{
                                                var vardatos = "<tr><td>w</td><td>w</td><td>w</td><td>w</td><td>w</td></tr>";
                                            }


                                            @foreach (var item in Model)
                                            {

                                        <tr>
                                            <td>
                                                @item.USUARIO
                                            </td>
                                            <td>
                                                @item.Nom_Provincia
                                            </td>
                                            <td>
                                                @item.Nom_Canton
                                            </td>
                                            <td>
                                                @item.Nom_Parroquia
                                            </td>
                                            <td>
                                                @item.Nom_Zona
                                            </td>
                                            <td>
                                                @item.junta
                                            </td>
                                            <td>
                                                @item.sexo
                                            </td>
                                            <td>
                                                @Html.ActionLink("Asignar", "Edit", new { id = item.COD_JUNTA }, new { @class = "btn btn-block btn-info" })
                                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                                @if (item.COD_USUARIO != 0)
                                                {
                                                    @Html.ActionLink("Quitar", "Delete", new { id = item.COD_JUNTA }, new { @class = "btn btn-block btn-warning" })
                                                }
                                            </td>

                                        </tr>

                                            }
                                         @{
                                              
                                         }
                                           

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                            </tr>
                                        </tfoot>
                                    </table>

    }



                            </div>
                        </div>
                    }

                    
                </div>
            </div>
        </div>
    </section>
</div>





@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                                        window.onload = function () {
                                            alert("@ViewBag.Message");
                                        };
    </script>
}



<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/FrontEnd/dist/js/demo.js"></script>
<!-- page script -->


<script>
   
    $(function () {
       
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>


<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example1').DataTable({
           
        });
    });
// Code that uses other library's $ can follow here.
</script>

<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example2').DataTable({

        });
    });
// Code that uses other library's $ can follow here.
</script>