@*@model IEnumerable<CoreCRUDwithORACLE.ViewModels.Reportes.InformacionGeneral>*@
@model CoreCRUDwithORACLE.Comunes.PaginatedListAsync<CoreCRUDwithORACLE.ViewModels.Reportes.InformacionGeneral>


@{
    ViewData["Title"] = "GeneralProvincia";
}

<h1>Información General por Provincia</h1>


<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <tr>
                            <th> <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio </a></th>
                            <th> <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a></th>
                        </tr>
                    </table>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <form asp-action="GeneralProvincia" method="get">
                                    <div class="form-actions no-color">
                                        <p>
                                            Ingrese Texto: <input type="text" name="textoBuscar" value="@ViewData["CurrentFilter"]" />
                                            <input type="submit" value="Buscar" class="btn btn-default btn-light" /> |
                                            <a asp-action="GeneralProvincia">Listado Completo</a>
                                        </p>
                                    </div>
                                </form>
                                <div asp-validation-summary="All" class="text-danger"></div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <table id="GralProv" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.COD_PROVINCIA)*@
                                                    CODIGO PROVINCIA
                                                </th>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.NOM_PROVINCIA)*@
                                                    <a asp-action="GeneralProvincia" asp-route-sortOrder="@ViewData["ProvSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PROVINCIA</a>
                                                </th>
                                                <th>
                                                    JUNTAS
                                                </th>
                                                <th>
                                                    ASIGNADAS
                                                </th>
                                                <th>
                                                    DESCARGADAS
                                                </th>
                                                <th>
                                                    REPORTADAS
                                                </th>
                                                <th>
                                                    TRANSMITIDAS
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COD_PROVINCIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NOM_PROVINCIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.JUNTAS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ASIGNADAS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DESCARGADAS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.REPORTADAS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TRANSMITIDAS)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Cantón", "GeneralCanton", new { codigoProvincia = item.COD_PROVINCIA }, new { @class = "btn btn-block btn-info" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @{
                                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                    }
                                    <a asp-action="GeneralProvincia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @prevDisabled">
                                        Anterior
                                    </a>
                                    <a asp-action="GeneralProvincia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @nextDisabled">
                                        Siguiente
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>