@model IEnumerable<CoreCRUDwithORACLE.ViewModels.Reportes.AOperadoresProvincia>
@*@model UsuarioViewModel*@

@{
    ViewData["Title"] = "OperadoresProvincia";
}

<h1>Operadores por Provincia</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

@*<form asp-action="OperadoresProvincia">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model. PROVINCIA"></label>
        <select asp-for="codProvincia"
                class="form-control"
                asp-items="@(new SelectList(Model.provincias,"Value", "Text"))">
        </select>
    </div>
</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COD_PROV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROVINCIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JUNTAS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPERADORES)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COD_PROV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PROVINCIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JUNTAS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPERADORES)
                </td>
                <td>
                    @if(item.OPERADORES > 0)
                    { 
                        @Html.ActionLink("Canton", "OperadoresCanton", new { codProvincia = item.COD_PROV  }) 
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    }
                 </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index">Regresar al Inicio | </a>
    <a asp-controller="Account" asp-action="Logout">Salir</a>
</div>
