@*@model IEnumerable<CoreCRUDwithORACLE.ViewModels.Reportes.AOperadoresParroquia>*@
@model CoreCRUDwithORACLE.Comunes.PaginatedListAsync<CoreCRUDwithORACLE.ViewModels.Reportes.AOperadoresParroquia>

@{
    ViewData["Title"] = "OperadoresParroquia";
}

<h1>Operadores por Parroquia</h1>

<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <tr>

                            <th> <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio </a></th>
                            <th> <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a></th>
                        </tr>
                    </table>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <form asp-action="OperadoresParroquia" method="get">
                                    <div class="form-actions no-color">
                                        <p>
                                            Ingrese Texto: <input type="text" name="textoBuscar" value="@ViewData["CurrentFilter"]" />
                                            <input type="submit" value="Buscar" class="btn btn-default btn-light" /> |
                                            <a asp-action="OperadoresParroquia">Listado Completo</a>
                                        </p>
                                    </div>
                                </form>
                                <div asp-validation-summary="All" class="text-danger"></div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <table id="RepParrOper" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.PCODIGO)*@
                                                    CODIGO CANTÓN
                                                </th>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.operadoresCanton.operadoresProvincia.PROVINCIA)*@
                                                    <a asp-action="OperadoresParroquia" asp-route-sortOrder="@ViewData["ProvSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PROVINCIA</a>
                                                </th>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.operadoresCanton.CANTON)*@
                                                    <a asp-action="OperadoresParroquia" asp-route-sortOrder="@ViewData["CanSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">CANTÓN</a>
                                                </th>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.PARROQUIA)*@
                                                    <a asp-action="OperadoresParroquia" asp-route-sortOrder="@ViewData["ParrSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PARROQUIA</a>
                                                </th>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.operadoresCanton.operadoresProvincia.JUNTAS)*@
                                                    JUNTAS
                                                </th>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.operadoresCanton.operadoresProvincia.OPERADORES)*@
                                                    OPERADORES
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PCODIGO)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.operadoresCanton.operadoresProvincia.PROVINCIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.operadoresCanton.CANTON)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PARROQUIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.operadoresCanton.operadoresProvincia.JUNTAS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.operadoresCanton.operadoresProvincia.OPERADORES)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Detalle", "DetalleOperadores", new { codParroquia = item.PCODIGO }, new { @class = "btn btn-block btn-info" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @{
                                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                    }
                                    <a asp-action="OperadorParroquia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @prevDisabled">
                                        Anterior
                                    </a>
                                    <a asp-action="OperadorParroquia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @nextDisabled">
                                        Siguiente
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
@*<div>
    <a asp-controller="Home" asp-action="Index">Regresar al Inicio | </a>
    <a asp-controller="Account" asp-action="Logout">Salir</a>
</div>*@
