@model IEnumerable<CoreCRUDwithORACLE.ViewModels.Reportes.ATransmitidasCanton>

@{
    ViewData["Title"] = "TransmitidasCanton";
}

<h1>Actas Transmitidas por Canton</h1>

<div asp-validation-summary="All" class="text-danger"></div>
@if (Model != null)
{
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CODIGO_PROVINCIA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CODIGO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PROVINCIA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CANTON)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JUNTAS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TRANSMITIDAS)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CODIGO_PROVINCIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CODIGO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PROVINCIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CANTON)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JUNTAS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRANSMITIDAS)
                        </td>
                        <td>
                            @Html.ActionLink("Parroquias", "TransmitidasParroquia", new { codCanton = item.CODIGO })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div>
    <a asp-controller="Home" asp-action="Index">Regresar al Inicio | </a>
    <a asp-controller="Account" asp-action="Logout">Salir</a>
</div>
