@model IEnumerable<CoreCRUDwithORACLE.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}



<h1>Gestión de Usuarios</h1>
@if (ViewBag.CODROL != 4)
{
    <p>
        <a asp-action="IngresaUsuario">Crear nuevo usuario</a>
    </p>
}


<div asp-validation-summary="All" class="text-danger"></div>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.COD_USUARIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROVINCIA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEDULA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ROL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TELEFONO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MAIL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ESTADO)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.COD_USUARIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROVINCIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEDULA)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ROL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TELEFONO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAIL)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.ESTADO, new { @disabled = "disabled" })
                    </td>
                    @if (ViewBag.CODROL != 4)
                    {
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CEDULA }) |
                            @Html.ActionLink("Actualizar Clave", "ActualizaClave", new { cedula = item.CEDULA })
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
<div>
    <a asp-controller="Home" asp-action="Index">Regresar al Inicio | </a>
    <a asp-controller="Account" asp-action="Logout">Salir</a>
</div>