@model IEnumerable<CoreCRUDwithORACLE.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conteo rápido| CNE</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>


<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Gestión de Usuarios</h1>
                    <table>
                        <tr>
                            @if (ViewBag.CODROL != 4)
                            {
                                <th>
                                    <a asp-action="IngresaUsuario" class="btn btn-block btn-primary">Crear nuevo usuario</a>
                                </th>
                            }
                            <th> <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio | </a></th>
                            <th> <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a></th>
                        </tr>
                    </table>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Usuarios del sistema</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COD_USUARIO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PROVINCIA)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CEDULA)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.NOMBRE)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ROL)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TELEFONO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MAIL)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ESTADO)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.COD_USUARIO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PROVINCIA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CEDULA)
                                                </td>

                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.)
                                                    </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NOMBRE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ROL)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TELEFONO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MAIL)
                                                </td>
                                                <td>
                                                    @Html.CheckBoxFor(modelItem => item.ESTADO, new { @disabled = "disabled" })
                                                </td>
                                                @if (ViewBag.CODROL != 4)
                                                {
                                                    <td>
                                                        @Html.ActionLink("Editar", "Edit", new { id = item.CEDULA }, new { @class = "btn btn-block btn-info" })
                                                        @Html.ActionLink("Resetear", "ActualizaClave", new { cedula = item.CEDULA }, new { @class = "btn btn-block btn-warning" })

                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    }
                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                     window.onload = function () {
                    alert("@ViewBag.Message");
                 };
                        </script>
                    }


                </div>
            </div>
        </div>
    </section>

</div>

















<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/FrontEnd/dist/js/demo.js"></script>
<!-- page script -->

<script>

    $(function () {

        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>


<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example1').DataTable({

        });
    });
    // Code that uses other library's $ can follow here.
</script>

<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example2').DataTable({

        });
    });
// Code that uses other library's $ can follow here.
</script>